#Global Climate Trends
##Analysis

In [25]:
# Dependencies and Setup
import pandas as pd
import os
import csv


# Study data files
energy_metadata_path = "Data/csv/Energy CO2 Emissions.csv"

# Path to input files
ece_input_file_path = os.path.join("Data/csv/Energy_CO2_Emissions.csv")

# Path to output files
ece_output_file_path = os.path.join( "Data/csv/Energy_CO2_Emissions_by_year_n_country.csv")

# Read the energyata and the study results
ece_df = pd.read_csv(energy_metadata_path)
ece_df

,Country,1985,1986,1987,1988,1989,1990,1991,1992,1993,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,Canada,403.5,393.4,406.7,437.4,457.4,444.8,428.0,441.9,438.4,...,545.9,561.5,571.5,558.8,500.1,510.2,519.7,1.861%,-0.5%,1.5%
1,Mexico,233.9,230.4,239.9,241.0,253.9,280.8,287.3,290.9,293.6,...,491.1,503.3,489.0,480.1,417.8,449.8,505.9,12.468%,0.1%,1.5%
2,US,4576.0,4598.2,4749.9,4969.1,5058.1,4970.5,4922.6,5004.9,5117.6,...,5038.0,4978.8,5133.2,4981.6,4462.7,4768.4,4825.8,1.204%,-0.5%,14.0%
3,Total North America,5213.4,5221.9,5396.5,5647.5,5769.3,5696.1,5638.0,5737.8,5849.6,...,6075.0,6043.6,6193.7,6020.4,5380.6,5728.4,5851.4,2.1%,-0.5%,17.0%
4,Argentina,94.6,100.0,104.6,109.9,107.2,100.3,102.8,108.9,107.7,...,190.1,188.5,186.0,174.6,162.3,184.7,190.1,2.938%,0.4%,0.6%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,4149.4,4302.5,4542.7,4888.6,5132.2,5328.0,5580.6,5831.4,6142.4,...,15814.3,16252.5,16799.4,17198.5,16924.3,17681.5,17955.4,1.5%,1.7%,52.2%
99,Total World,19219.9,19548.0,20156.4,20820.5,21201.7,21328.2,21333.0,21398.2,21462.4,...,32818.0,33306.2,34013.9,34044.0,32284.9,34052.2,34374.1,0.9%,0.6%,100.0%
100,of which: OECD,10920.3,10971.6,11221.9,11551.8,11758.0,11709.4,11699.1,11737.3,11815.4,...,12385.8,12416.8,12502.3,12119.7,10857.8,11485.6,11585.6,0.9%,-0.9%,33.7%
101,Non-OECD,8299.6,8576.4,8934.5,9268.7,9443.7,9618.8,9633.8,9661.0,9647.0,...,20432.2,20889.4,21511.6,21924.3,21427.0,22566.7,22788.5,1.0%,1.6%,66.3%
102,European Union#,3790.3,3800.9,3843.4,3813.1,3835.6,3757.3,3688.0,3560.7,3502.8,...,3073.9,3118.6,3070.0,2930.7,2569.0,2742.8,2725.4,-0.6%,-1.7%,7.9%

In [26]:
df_array = []

# Loop over the columns of the dataframe skipping the first column
for column in ece_df.columns[1:]:
    # Create a new dataframe with the country and the year
    cy_list = ece_df[['Country', column]].copy()

    # Adding a new column to the dataframe and positionong
    cy_list.insert(0, 'Year', column)

    #Rename for dataset
    cy_list.rename(columns={column: "Energy CO2 Emissions" }, inplace=True)

    # Adding the new dataframe to the array
    df_array.append(cy_list)

df_array

[     Year                           Country Energy CO2 Emissions
 0    1985                            Canada                403.5
 1    1985                            Mexico                233.9
 2    1985                                US               4576.0
 3    1985               Total North America               5213.4
 4    1985                         Argentina                 94.6
 ..    ...                               ...                  ...
 98   1985                Total Asia Pacific               4149.4
 99   1985                       Total World              19219.9
 100  1985                    of which: OECD              10920.3
 101  1985                          Non-OECD               8299.6
 102  1985                   European Union#               3790.3

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1986                            Canada                393.4
 1    1986                            Mexico                230.4
 2    1986                                US               4598.2
 3    1986               Total North America               5221.9
 4    1986                         Argentina                100.0
 ..    ...                               ...                  ...
 98   1986                Total Asia Pacific               4302.5
 99   1986                       Total World              19548.0
 100  1986                    of which: OECD              10971.6
 101  1986                          Non-OECD               8576.4
 102  1986                   European Union#               3800.9

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1987                            Canada                406.7
 1    1987                            Mexico                239.9
 2    1987                                US               4749.9
 3    1987               Total North America               5396.5
 4    1987                         Argentina                104.6
 ..    ...                               ...                  ...
 98   1987                Total Asia Pacific               4542.7
 99   1987                       Total World              20156.4
 100  1987                    of which: OECD              11221.9
 101  1987                          Non-OECD               8934.5
 102  1987                   European Union#               3843.4

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1988                            Canada                437.4
 1    1988                            Mexico                241.0
 2    1988                                US               4969.1
 3    1988               Total North America               5647.5
 4    1988                         Argentina                109.9
 ..    ...                               ...                  ...
 98   1988                Total Asia Pacific               4888.6
 99   1988                       Total World              20820.5
 100  1988                    of which: OECD              11551.8
 101  1988                          Non-OECD               9268.7
 102  1988                   European Union#               3813.1

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1989                            Canada                457.4
 1    1989                            Mexico                253.9
 2    1989                                US               5058.1
 3    1989               Total North America               5769.3
 4    1989                         Argentina                107.2
 ..    ...                               ...                  ...
 98   1989                Total Asia Pacific               5132.2
 99   1989                       Total World              21201.7
 100  1989                    of which: OECD              11758.0
 101  1989                          Non-OECD               9443.7
 102  1989                   European Union#               3835.6

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1990                            Canada                444.8
 1    1990                            Mexico                280.8
 2    1990                                US               4970.5
 3    1990               Total North America               5696.1
 4    1990                         Argentina                100.3
 ..    ...                               ...                  ...
 98   1990                Total Asia Pacific               5328.0
 99   1990                       Total World              21328.2
 100  1990                    of which: OECD              11709.4
 101  1990                          Non-OECD               9618.8
 102  1990                   European Union#               3757.3

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1991                            Canada                428.0
 1    1991                            Mexico                287.3
 2    1991                                US               4922.6
 3    1991               Total North America               5638.0
 4    1991                         Argentina                102.8
 ..    ...                               ...                  ...
 98   1991                Total Asia Pacific               5580.6
 99   1991                       Total World              21333.0
 100  1991                    of which: OECD              11699.1
 101  1991                          Non-OECD               9633.8
 102  1991                   European Union#               3688.0

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1992                            Canada                441.9
 1    1992                            Mexico                290.9
 2    1992                                US               5004.9
 3    1992               Total North America               5737.8
 4    1992                         Argentina                108.9
 ..    ...                               ...                  ...
 98   1992                Total Asia Pacific               5831.4
 99   1992                       Total World              21398.2
 100  1992                    of which: OECD              11737.3
 101  1992                          Non-OECD               9661.0
 102  1992                   European Union#               3560.7

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1993                            Canada                438.4
 1    1993                            Mexico                293.6
 2    1993                                US               5117.6
 3    1993               Total North America               5849.6
 4    1993                         Argentina                107.7
 ..    ...                               ...                  ...
 98   1993                Total Asia Pacific               6142.4
 99   1993                       Total World              21462.4
 100  1993                    of which: OECD              11815.4
 101  1993                          Non-OECD               9647.0
 102  1993                   European Union#               3502.8

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1994                            Canada                453.2
 1    1994                            Mexico                318.0
 2    1994                                US               5195.4
 3    1994               Total North America               5966.5
 4    1994                         Argentina                114.0
 ..    ...                               ...                  ...
 98   1994                Total Asia Pacific               6468.8
 99   1994                       Total World              21680.1
 100  1994                    of which: OECD              11992.6
 101  1994                          Non-OECD               9687.5
 102  1994                   European Union#               3456.3

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1995                            Canada                471.5
 1    1995                            Mexico                304.1
 2    1995                                US               5227.9
 3    1995               Total North America               6003.5
 4    1995                         Argentina                118.9
 ..    ...                               ...                  ...
 98   1995                Total Asia Pacific               6737.9
 99   1995                       Total World              21986.5
 100  1995                    of which: OECD              12155.0
 101  1995                          Non-OECD               9831.5
 102  1995                   European Union#               3515.1

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1996                            Canada                480.6
 1    1996                            Mexico                313.6
 2    1996                                US               5407.6
 3    1996               Total North America               6201.8
 4    1996                         Argentina                126.3
 ..    ...                               ...                  ...
 98   1996                Total Asia Pacific               7053.4
 99   1996                       Total World              22583.4
 100  1996                    of which: OECD              12573.1
 101  1996                          Non-OECD              10010.3
 102  1996                   European Union#               3610.9

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1997                            Canada                494.0
 1    1997                            Mexico                330.5
 2    1997                                US               5483.0
 3    1997               Total North America               6307.5
 4    1997                         Argentina                125.0
 ..    ...                               ...                  ...
 98   1997                Total Asia Pacific               7199.4
 99   1997                       Total World              22752.0
 100  1997                    of which: OECD              12680.8
 101  1997                          Non-OECD              10071.2
 102  1997                   European Union#               3558.4

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1998                            Canada                508.3
 1    1998                            Mexico                346.8
 2    1998                                US               5524.1
 3    1998               Total North America               6379.3
 4    1998                         Argentina                132.0
 ..    ...                               ...                  ...
 98   1998                Total Asia Pacific               7142.8
 99   1998                       Total World              22820.2
 100  1998                    of which: OECD              12705.0
 101  1998                          Non-OECD              10115.2
 102  1998                   European Union#               3573.7

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    1999                            Canada                513.2
 1    1999                            Mexico                344.4
 2    1999                                US               5574.1
 3    1999               Total North America               6431.8
 4    1999                         Argentina                136.5
 ..    ...                               ...                  ...
 98   1999                Total Asia Pacific               7422.4
 99   1999                       Total World              23105.1
 100  1999                    of which: OECD              12798.8
 101  1999                          Non-OECD              10306.4
 102  1999                   European Union#               3522.1

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    2000                            Canada                533.1
 1    2000                            Mexico                370.3
 2    2000                                US               5740.7
 3    2000               Total North America               6644.1
 4    2000                         Argentina                131.4
 ..    ...                               ...                  ...
 98   2000                Total Asia Pacific               7663.0
 99   2000                       Total World              23673.4
 100  2000                    of which: OECD              13077.9
 101  2000                          Non-OECD              10595.5
 102  2000                   European Union#               3514.5

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    2001                            Canada                535.8
 1    2001                            Mexico                370.9
 2    2001                                US               5650.7
 3    2001               Total North America               6557.4
 4    2001                         Argentina                120.7
 ..    ...                               ...                  ...
 98   2001                Total Asia Pacific               7917.6
 99   2001                       Total World              24007.2
 100  2001                    of which: OECD              13049.2
 101  2001                          Non-OECD              10958.0
 102  2001                   European Union#               3571.7

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    2002                            Canada                548.7
 1    2002                            Mexico                389.1
 2    2002                                US               5672.3
 3    2002               Total North America               6610.1
 4    2002                         Argentina                116.0
 ..    ...                               ...                  ...
 98   2002                Total Asia Pacific               8349.5
 99   2002                       Total World              24545.2
 100  2002                    of which: OECD              13125.8
 101  2002                          Non-OECD              11419.5
 102  2002                   European Union#               3573.6

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    2003                            Canada                557.8
 1    2003                            Mexico                392.3
 2    2003                                US               5737.6
 3    2003               Total North America               6687.7
 4    2003                         Argentina                125.4
 ..    ...                               ...                  ...
 98   2003                Total Asia Pacific               9218.8
 99   2003                       Total World              25755.4
 100  2003                    of which: OECD              13371.0
 101  2003                          Non-OECD              12384.4
 102  2003                   European Union#               3668.0

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    2004                            Canada                555.3
 1    2004                            Mexico                413.6
 2    2004                                US               5838.9
 3    2004               Total North America               6807.7
 4    2004                         Argentina                137.1
 ..    ...                               ...                  ...
 98   2004                Total Asia Pacific              10198.5
 99   2004                       Total World              27117.6
 100  2004                    of which: OECD              13542.1
 101  2004                          Non-OECD              13575.5
 102  2004                   European Union#               3685.9

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    2005                            Canada                555.0
 1    2005                            Mexico                455.6
 2    2005                                US               5873.2
 3    2005               Total North America               6883.8
 4    2005                         Argentina                145.3
 ..    ...                               ...                  ...
 98   2005                Total Asia Pacific              11157.1
 99   2005                       Total World              28203.2
 100  2005                    of which: OECD              13662.1
 101  2005                          Non-OECD              14541.1
 102  2005                   European Union#               3672.7

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    2006                            Canada                547.9
 1    2006                            Mexico                459.2
 2    2006                                US               5795.2
 3    2006               Total North America               6802.3
 4    2006                         Argentina                151.2
 ..    ...                               ...                  ...
 98   2006                Total Asia Pacific              11833.2
 99   2006                       Total World              29079.1
 100  2006                    of which: OECD              13648.8
 101  2006                          Non-OECD              15430.3
 102  2006                   European Union#               3707.2

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    2007                            Canada                575.0
 1    2007                            Mexico                465.0
 2    2007                                US               5884.2
 3    2007               Total North America               6924.2
 4    2007                         Argentina                164.3
 ..    ...                               ...                  ...
 98   2007                Total Asia Pacific              12620.1
 99   2007                       Total World              30119.6
 100  2007                    of which: OECD              13767.5
 101  2007                          Non-OECD              16352.1
 102  2007                   European Union#               3650.8

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    2008                            Canada                559.4
 1    2008                            Mexico                475.7
 2    2008                                US               5700.9
 3    2008               Total North America               6736.0
 4    2008                         Argentina                165.8
 ..    ...                               ...                  ...
 98   2008                Total Asia Pacific              12929.8
 99   2008                       Total World              30393.2
 100  2008                    of which: OECD              13548.3
 101  2008                          Non-OECD              16844.9
 102  2008                   European Union#               3578.1

 [103 rows x 3 columns],
      Year                           Country Energy CO2 Emissions
 0    2009                            Canada                531.6
 1    2009                            Mexico                471.8
 2    2009                                US               5289.2
 3    2009               Total North America               6292.6

In [27]:
# Merge dfs 
merged_df = pd.concat(df_array, ignore_index=True)
merged_df

#Save csv
merged_df.to_csv(ece_output_file_path, index=False, header=True)

In [48]:
# Path to input files
World_data_file_path = os.path.join("Data/csv/World_Energy_Data.csv")

# Read the energyata and the study results
World_Data_df = pd.read_csv(World_data_file_path)#.query("Flow == Total_final_consumption")
World_Data_df

,Country,Product,Flow,1990,1991,1992,1993,1994,1995,1996,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
0,Australia,"Coal, peat and oil shale",Production (PJ),4442,4805,4988,5023,4969,5352,5441,...,11075,11951,12501,12224,12257,12323,12596,12335,11468,11434
1,Australia,"Coal, peat and oil shale",Imports (PJ),0,0,0,0,0,0,0,...,3,5,7,7,8,12,17,19,12,15
2,Australia,"Coal, peat and oil shale",Exports (PJ),-2816,-3275,-3434,-3585,-3564,-3709,-3824,...,-9101,-10167,-10634,-10553,-10248,-10333,-10629,-10505,-9866,-9697
3,Australia,"Coal, peat and oil shale",Total energy supply (PJ),1461,1519,1542,1573,1554,1570,1703,...,1831,1737,1797,1863,1997,1930,1957,1783,1684,1919
4,Australia,"Coal, peat and oil shale","Electricity, CHP and heat plants (PJ)",-1209,-1254,-1286,-1294,-1311,-1356,-1430,...,-1734,-1640,-1705,-1753,-1724,-1647,-1609,-1515,-1467,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6827,IEA and Accession/Association countries,Total,Electricity output (GWh),9498891,9765956,9916738,10222690,10578374,10976496,11358326,...,19351173,19799464,19951317,20477628,21116520,21902871,22187499,21998117,23395901,..
6828,World,Fossil fuels,Electricity output (GWh),7494066,7627324,7702495,7794595,8017078,8234773,8533447,...,15798957,16070107,16118593,16363723,16715803,17115165,17021641,16480060,17531510,..
6829,World,Nuclear,Electricity output (GWh),2012902,2105787,2123688,2190502,2242299,2331951,2417194,...,2479105,2535405,2570071,2608402,2636117,2709097,2790111,2676449,2808116,..
6830,World,Renewable sources,Electricity output (GWh),2294262,2329933,2343930,2477282,2505412,2629781,2667235,...,5060735,5302271,5510482,5895055,6251916,6680682,7034561,7493015,7948276,..
6831,World,Total,Electricity output (GWh),11837007,12104142,12215634,12502653,12808618,13243314,13667533,...,23436876,24007820,24297236,24973925,25717381,26629021,26968895,26758635,28402087,..

In [49]:
World_data_df = pd.DataFrame(World_Data_df)
World_data_df.head()

,Country,Product,Flow,1990,1991,1992,1993,1994,1995,1996,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
0,Australia,"Coal, peat and oil shale",Production (PJ),4442,4805,4988,5023,4969,5352,5441,...,11075,11951,12501,12224,12257,12323,12596,12335,11468,11434
1,Australia,"Coal, peat and oil shale",Imports (PJ),0,0,0,0,0,0,0,...,3,5,7,7,8,12,17,19,12,15
2,Australia,"Coal, peat and oil shale",Exports (PJ),-2816,-3275,-3434,-3585,-3564,-3709,-3824,...,-9101,-10167,-10634,-10553,-10248,-10333,-10629,-10505,-9866,-9697
3,Australia,"Coal, peat and oil shale",Total energy supply (PJ),1461,1519,1542,1573,1554,1570,1703,...,1831,1737,1797,1863,1997,1930,1957,1783,1684,1919
4,Australia,"Coal, peat and oil shale","Electricity, CHP and heat plants (PJ)",-1209,-1254,-1286,-1294,-1311,-1356,-1430,...,-1734,-1640,-1705,-1753,-1724,-1647,-1609,-1515,-1467,..

In [58]:
Total_consumption_Nuclear = World_data_df[(World_data_df["Flow"] == "Total_final_consumption") & (World_data_df["Product"] == "Nuclear")]
Total_consumption_Nuclear

,Country,Product,Flow,1990,1991,1992,1993,1994,1995,1996,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
54,Australia,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
162,Austria,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
270,Belgium,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
378,Canada,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
486,Chile,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6102,Non-OECD Europe and Eurasia,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
6210,Middle East,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
6318,IEA Total,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
6426,IEA and Accession/Association countries,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
6534,World,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..

In [59]:
Total_consumption_Coal = World_data_df[(World_data_df["Flow"] == "Total_final_consumption") & (World_data_df["Product"] == "Coal, peat and oil shale")]
Total_consumption_Coal

,Country,Product,Flow,1990,1991,1992,1993,1994,1995,1996,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
6,Australia,"Coal, peat and oil shale",Total_final_consumption,191,194,195,199,198,195,186,...,99,102,98,113,112,122,120,112,113,..
114,Austria,"Coal, peat and oil shale",Total_final_consumption,59,65,53,49,43,43,44,...,20,19,19,20,20,18,20,19,19,..
222,Belgium,"Coal, peat and oil shale",Total_final_consumption,148,148,125,110,123,104,105,...,51,53,53,57,55,56,54,44,46,..
330,Canada,"Coal, peat and oil shale",Total_final_consumption,134,145,143,139,135,144,143,...,131,124,111,107,115,111,104,88,89,..
438,Chile,"Coal, peat and oil shale",Total_final_consumption,26,28,32,30,27,28,32,...,8,6,9,9,12,10,10,6,7,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6054,Non-OECD Europe and Eurasia,"Coal, peat and oil shale",Total_final_consumption,4716,4145,3286,2981,2358,2251,1905,...,2199,2172,1970,2007,1944,2043,2149,2128,2165,..
6162,Middle East,"Coal, peat and oil shale",Total_final_consumption,7,10,9,16,16,17,19,...,113,127,115,121,135,132,126,132,134,..
6270,IEA Total,"Coal, peat and oil shale",Total_final_consumption,9510,8879,7305,6916,6522,6384,6365,...,4762,4572,4520,4304,4336,4143,3860,3629,3769,..
6378,IEA and Accession/Association countries,"Coal, peat and oil shale",Total_final_consumption,26340,25851,24150,24024,23774,24707,22863,...,43195,43427,42521,40284,38139,36396,34937,33826,33596,..
6486,World,"Coal, peat and oil shale",Total_final_consumption,31461,30530,27909,27570,26788,27643,25445,...,46738,47075,45842,43727,42083,40530,39303,38417,38210,..

In [61]:
Total_consumption_Oil = World_data_df[(World_data_df["Flow"] == "Total_final_consumption") & (World_data_df["Product"] == "Oil products")]
Total_consumption_Oil

,Country,Product,Flow,1990,1991,1992,1993,1994,1995,1996,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
30,Australia,Oil products,Total_final_consumption,1214,1182,1204,1237,1267,1314,1361,...,1801,1804,1750,1770,1789,1836,1814,1717,1710,..
138,Austria,Oil products,Total_final_consumption,370,397,391,395,389,394,439,...,449,436,442,454,455,462,470,425,446,..
246,Belgium,Oil products,Total_final_consumption,682,736,758,742,837,849,896,...,849,844,863,847,816,831,791,725,773,..
354,Canada,Oil products,Total_final_consumption,2740,2630,2687,2751,2857,2892,3009,...,3705,3637,3694,3726,3707,3779,3846,3303,3464,..
462,Chile,Oil products,Total_final_consumption,230,248,272,295,320,344,373,...,567,571,579,620,637,650,642,607,643,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6078,Non-OECD Europe and Eurasia,Oil products,Total_final_consumption,11495,11587,9421,7740,6241,6188,5777,...,7311,7556,7609,7644,8008,8274,8510,8424,8969,..
6186,Middle East,Oil products,Total_final_consumption,4212,4337,4853,4957,5209,5111,5374,...,10009,10541,10375,10332,10680,10647,10668,9832,10226,..
6294,IEA Total,Oil products,Total_final_consumption,66047,66358,67811,68665,70542,71554,73564,...,69732,69487,70677,71311,71898,71888,71776,64393,68108,..
6402,IEA and Accession/Association countries,Oil products,Total_final_consumption,80479,81446,82926,84208,86933,89589,92512,...,110096,110967,114035,115535,117799,119909,120082,111421,118137,..
6510,World,Oil products,Total_final_consumption,108722,110012,111227,111458,113559,116896,120699,...,154429,157040,160849,163315,167331,170191,170706,154525,163571,..

In [62]:
Total_consumption_Gas = World_data_df[(World_data_df["Flow"] == "Total_final_consumption") & (World_data_df["Product"] == "Natural gas")]
Total_consumption_Gas

,Country,Product,Flow,1990,1991,1992,1993,1994,1995,1996,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
42,Australia,Natural gas,Total_final_consumption,362,365,372,381,398,418,425,...,544,559,550,522,516,516,505,516,527,..
150,Austria,Natural gas,Total_final_consumption,127,137,136,143,136,154,165,...,210,198,205,212,214,206,215,210,221,..
258,Belgium,Natural gas,Total_final_consumption,286,301,310,325,331,361,404,...,448,384,415,428,440,441,437,427,467,..
366,Canada,Natural gas,Total_final_consumption,1813,1848,1919,2003,2073,2125,2260,...,1975,2050,2005,2051,2107,2212,2183,2091,2131,..
474,Chile,Natural gas,Total_final_consumption,38,29,37,36,39,38,39,...,59,54,63,71,71,84,100,88,92,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6090,Non-OECD Europe and Eurasia,Natural gas,Total_final_consumption,10818,10599,9828,9652,8829,8569,8528,...,8613,8819,8661,9142,9829,10638,10548,10444,11092,..
6198,Middle East,Natural gas,Total_final_consumption,1308,1476,1603,1701,2017,2219,2262,...,7170,7465,7804,7961,7588,7322,8580,8979,9093,..
6306,IEA Total,Natural gas,Total_final_consumption,24649,25312,25486,26412,26624,27708,29539,...,31367,30678,30301,30804,31514,32952,32898,31262,32879,..
6414,IEA and Accession/Association countries,Natural gas,Total_final_consumption,27664,28561,28831,29615,29727,30897,33211,...,40952,40364,39929,40747,42303,45065,45852,44612,47642,..
6522,World,Natural gas,Total_final_consumption,39547,40250,39942,40969,40830,42010,44135,...,59378,59422,59448,61059,63191,66750,68679,67499,71609,..

In [64]:
Total_consumption_Electricity = World_data_df[(World_data_df["Flow"] == "Total_final_consumption") & (World_data_df["Product"] == "Electricity")]
Total_consumption_Electricity

,Country,Product,Flow,1990,1991,1992,1993,1994,1995,1996,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
78,Australia,Electricity,Total_final_consumption,465,474,479,493,506,522,536,...,761,755,768,774,767,774,779,780,779,..
186,Austria,Electricity,Total_final_consumption,154,161,160,162,164,168,174,...,220,217,220,224,227,228,229,222,232,..
294,Belgium,Electricity,Total_final_consumption,209,218,225,228,239,246,252,...,299,292,293,296,296,298,294,284,293,..
402,Canada,Electricity,Total_final_consumption,1505,1519,1522,1554,1575,1608,1631,...,1780,1807,1804,1787,1857,1901,1904,1865,1889,..
510,Chile,Electricity,Total_final_consumption,56,61,70,73,78,87,97,...,235,242,241,253,251,263,267,268,275,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6126,Non-OECD Europe and Eurasia,Electricity,Total_final_consumption,5215,5054,4690,4305,3877,3776,3663,...,4445,4407,4379,4416,4543,4606,4570,4494,4858,..
6234,Middle East,Electricity,Total_final_consumption,650,660,749,830,875,910,963,...,2843,3055,3103,3252,3371,3415,3441,3458,3621,..
6342,IEA Total,Electricity,Total_final_consumption,23023,23798,23929,24457,25199,25922,26650,...,33351,33216,33342,33746,33802,34474,33941,33333,34178,..
6450,IEA and Accession/Association countries,Electricity,Total_final_consumption,28270,29432,29841,30723,31883,32992,34172,...,58776,60346,60826,62637,64695,67838,68736,68791,72747,..
6558,World,Electricity,Total_final_consumption,34923,36031,36275,36996,37965,39145,40427,...,70281,72142,72896,75162,77618,81114,82177,82199,86957,..

In [84]:
Total = pd.concat([Total_consumption_Nuclear,Total_consumption_Coal,Total_consumption_Oil,Total_consumption_Electricity,Total_consumption_Gas],ignore_index=True,sort=False)

Total

,Country,Product,Flow,1990,1991,1992,1993,1994,1995,1996,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
0,Australia,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
1,Austria,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
2,Belgium,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
3,Canada,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
4,Chile,Nuclear,Total_final_consumption,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,Non-OECD Europe and Eurasia,Natural gas,Total_final_consumption,10818,10599,9828,9652,8829,8569,8528,...,8613,8819,8661,9142,9829,10638,10548,10444,11092,..
301,Middle East,Natural gas,Total_final_consumption,1308,1476,1603,1701,2017,2219,2262,...,7170,7465,7804,7961,7588,7322,8580,8979,9093,..
302,IEA Total,Natural gas,Total_final_consumption,24649,25312,25486,26412,26624,27708,29539,...,31367,30678,30301,30804,31514,32952,32898,31262,32879,..
303,IEA and Accession/Association countries,Natural gas,Total_final_consumption,27664,28561,28831,29615,29727,30897,33211,...,40952,40364,39929,40747,42303,45065,45852,44612,47642,..
304,World,Natural gas,Total_final_consumption,39547,40250,39942,40969,40830,42010,44135,...,59378,59422,59448,61059,63191,66750,68679,67499,71609,..

In [85]:
Total = pd.concat([Total_consumption_Nuclear,Total_consumption_Coal,Total_consumption_Oil,Total_consumption_Electricity,Total_consumption_Gas],ignore_index=True,sort=False)
Total.to_csv('out.csv',index=False)

In [123]:
# Study data files
#energy_metadata_path = "Data/csv/owid-energy-data.csv"

# Read the energyata and the study results
owid_energy_data = pd.read_csv(energy_metadata_path)#.set_index(["country"])["year"]
owid_energy_data



# Loop over countries
for column in owid_energy_data:
   print(column)

#data = {'country':[1],'year':[2000]}
#df = pd.DataFrame(data)

#transposed_df = df.transpose()

#print("OriginalDataFrame:")
#print(df)

#print("\nTransposed DtaFrame:")
#print(transposed_df)

OriginalDataFrame:
   country  year
0        1  2000